<!DOCTYPE html>
<html>
<head>
  <title>Blog site | Vue.js</title>
  <link rel="stylesheet" type="text/css" href="./reset.css">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./Tweet.js" defer></script>
  <script src="./app.js" defer></script>
</head>
<body>
  <div id="app" class="app-container">
    <div class="hcontainer">
      <h1>Summer time blog ⛱ | Vue.js </h1>
    </div>
    <div class="user">
      <div class="user-information">
        <div class="image-container">
          <img class="avatar" src="./assets/summer-girl.jpg" alt="profile picture">
        </div>
      </div>
      <div class="user-bio" v-if="bio">
        <h2>{{ username }}</h2>
        <p><b>Bio: </b> {{ bio }} </p>
      </div>
    </div>
    <div class="tweets">
      <tweet v-for="tweet in tweets" 
             v-bind:message="tweet"
             v-bind:author="username"></tweet>
    </div>
    <div class="settings">
      <h2>Settings</h2>
      <label for="username">Username</label>
      <input type="text" class="name-input" value="username" placeholder="Username" v-model="username" />
      <label for="bio">Bio</label>
      <textarea value="bio" placeholder="Bio" v-model="bio"></textarea>
      <label for="tweet">New Tweet</label>
      <input type="text" class="tweet-input" value="tweet" placeholder="New Tweet" v-model="newTweet" />
      <button v-on:click="tweets.push(newTweet)">Add Tweet</button>
    </div>
  </div>
</body>
</html>