* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fontcolor);
    font-family: var(--fontParagraph);   
}

:root {
    --primaryBlack: #281f1e;
    --primaryGray: #5f8f95;
    --primaryWhite:#fefaf6;
    --orange:rgb(250, 192, 66);
    --purple:#8e68df;
    --fontParagraph: Quicksand;
}

/* font in the folder */
@font-face {
    font-family: Quicksand;
    font-weight: ExtraLight;
    src: url(./Quicksand/Quicksand-VariableFont_wght.ttf);
}

.hcontainer {
    display: block; 
    text-align: center;
    width: 100%;
}

h1 {
    color: var(--primaryWhite);
    background-color: var(--orange);
    font-size: 42px;
    padding: 20px;
}

h2 {
    color: var(--orange);
}

h3 {
    color: var(--primaryWhite);
    background-color: var(--primaryGray);
    padding: 3px;
}

.biop {
    color: var(--primaryWhite);
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit:cover;
}

@media (min-width: 1024px) {
    .app-container  {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.user {
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.user-bio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem 0;
    padding: 30px;
    width: 100%;
    background-color: var(--purple);
}

.new-tweet {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.tweet {
    border: var(--purple) 2px solid;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 2rem;
    margin: .5rem;
}

@media (min-width: 1024px) {
    .tweet  {
        border: var(--purple) 2px solid;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: .5rem 0;
    }
}

  .settings label {
    color: var(--primaryWhite);
    font-size: medium;
    font-weight: 400;
  }
  
  .settings input[type="text"] {
    color: var(--primaryGray);
  }

  .settings textarea[type="text"] {
    color: var(--primaryGray);
  }

  .settings .tweet-input::placeholder {
    color: var(--primaryGray);
 }

  .settings .name-input {
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    padding: 10px;
  }
    .settings .tweet-input {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    padding: 20px 10px;
    color: var(--primaryGray);
  }

  .settings input:focus {
    outline: none !important;
    border:1px solid var(--primaryGray);
    box-shadow: 0 0 10px var(--primaryWhite);
  }

  .settings textarea:focus {
    outline: none !important;
    border:1px solid var(--primaryGray);
    box-shadow: 0 0 10px var(--primaryWhite);
  }
  
   .settings .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settings button {
    width: 140px;
    height: 45px;
    font-family: var(--fontParagraph);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--primaryWhite);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    }
  
  button:hover {
    background-color: var(--orange);
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.187);
    color: var(--primaryWhite);
    transform: translateY(-7px);
  }

  @media (max-width: 1023px) {
    .hcontainer {
        display: block; 
        text-align: center;
    }

    h1 {
        font-size: 40px;
        padding: 3rem;
    }

    h2 {
        font-size: 30px;
    }

    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 4rem 3rem;
        gap: 2rem;
    }

    .tweet {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 1rem;
        font-size: 20px;
    }

    .tweets {
        margin: 2rem 0;
        gap: 1rem;
        display: flex;
        flex-direction: column; 
    }

    .biop {
        font-size: 20px;
    }

    .settings {
        gap: 1rem 0;
        padding: 4rem 3rem;
        width: 100%;
        background-color: var(--purple);
    }

    .settings label {
        color: var(--primaryWhite);
        font-size: 22px;
        font-weight: 400;
        margin-top: .5rem;
      }

      .settings button {
        width: 190px;
        height: 60px;
        font-family: var(--fontParagraph);
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        margin: 2rem 0;
        }

        .settings input {
            font-size: 20px;
        }

        .settings textarea {
            font-size: 20px;
        }
}